#main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  }
#title {
  font-family: cursive;
  background-color: #FFB6C1;
}
#description {
  background-color: #FFB6C1;
}
#fieldset {
  display: flex;
  flex-wrap: wrap;
}
#color {
  font-family: cursive;
  font-size: 20px;
}
#dessert {
  margin-top: 15px;
}
#name-tag {
  font-family: cursive;
  font-size: 15px;
  display: inline;
}
#number-tag {
  font-family: cursive;
  font-size: 15px;
  display: inline;
}
#email-tag {
  font-family: cursive;
  font-size: 15px;
  display: inline;
}
#animal {
  font-family: cursive;
  font-size: 20px;
}
#header {
  font-size: 20px;
  font-family: cursive;
}
#name-label {
  margin-bottom: 15px;
  justify-content: center;
}
#email-label {
  margin:top: 15px;
}
#number-label {
  margin-top: 15px;
}
#comments {
  width: 200px;
  height: 90px;
}
#submit {
  border-radius: 70px;
  text-align: center;
  margin-top: 15px;
  font-family: cursive;
  text-align: center;
  background-color: #FFB6C1;
  cursor: pointer;
}
#display-flex {
  font-family: cursive;
  font-size: 10px;
  justify-content: space-around;
  align-items: center;
}
