#main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  }
#title {
  font-family: cursive;
  background-color: #FFB6C1;
}
#description {
  background-color: #FFB6C1;

}
#fieldset {
  display: flex;
  flex-wrap: wrap;
  background:
}
#color {
  font-family: cursive;
  font-size: 20px;
}
#dessert {
  margin-top: 15px;
}
#animal {
  font-family: cursive;
  font-size: 20px;
}
#name-label {
  margin-bottom: 15px;
}
#email-label {
  margin:top: 15px;
}
#number-label {
  margin-top: 15px;
}
#comments {
  margin-top: 15px;
}
.centered-button{
  text-align: center;
  margin-top: 15px;
  border-radius: 70px;
  font-family: cursive;
  text-align: center;
  background-color: #FFB6C1
}
.centered-button:hover {
  background-color: #FFB6C1;
  cursor: pointer;
}
